.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.active {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #211922;
}

.not-active {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #767676;
}
