.container {
    margin-top: 40px;
    margin-left: 20px;
}

.content {
    max-width: 488px;
    float: left;
}

.list {
    width: 100%;
    float: left;

    :first-child {
        width: 230px;
    }
}

@media (min-width: 768px) {
    .list {
        width: 25%;
    }
}
