@use "../../global/css/variables";

.container {
    position: relative;
}

.button {
    // position: relative;
}

.popup {
    margin-top: 20px;

    z-index: 11000;

    position: absolute;

    padding: 10px;

    border-radius: 16px;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
    background-color: #141a26;
}

.hoverTheme {
    color: white;
    background-color: variables.$primary-color;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
}
