@use "../../global/css/variables";

.container {
    min-width: 80px;
    color: white;
}

.header {
    border-radius: 8px;
    width: 100%;

    padding: 8px;
    font-size: 12px;
}

.linkWrapper {
    border-radius: 8px;
    width: 100%;

    padding: 8px;

    &:hover {
        background-color: variables.$primary-color;
    }

    .link {
        margin: 2px 0;

        display: flex;
        justify-content: space-between;
        color: white;

        font-weight: 600;

        &::hover {
            text-decoration: underline;
            cursor: pointer;
        }

        &:visited {
            color: white;
        }
    }
}
